@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: design tokens via CSS vars */
:root {
    /* --bg: #ffffff;
    --fg: #0f172a;
    --card: #ff390f;
    --card-primary: #af390f;
    --primary: #2fa9af;
    --test: #6ff9af; */

    --raisin: #1E1E24; /* raisin */
    --penn: #92140C; /* penn */
    --floral: #FFF8F0; /* floral */
    --sunset: #FFCF99; /* sunset */
    --space: #111D4A; /* space */

    --bg: #1D201F;   /* Eerie black */
    --bg-modal: #111D4A;   /* space */

    --text-primary: #D1DEDE;   /* Platinum */

    /* palette */
    --light-coral: #DF928E;      /* Light coral */
    --old-rose: #C58882;    /* Old rose */
    --platinum: #D1DEDE;   /* Platinum */
    --eerie-black: #1D201F;   /* Eerie black */
    --wheat: #EAD2AC;       /* Wheat */

}
.dark {
    --bg: #0b1020;
    --fg: #e5e7eb;
    --card: #ff390f;
    --card-primary: #af390f;
}

/* 
ref: https://tailwindcss.com/docs/theme?utm_source=chatgpt.com#theme-variable-namespaces 
*/
@theme {
    /* Spacing scale (used for padding, margin, width, height, gap, etc.) */
    --spacing-0: 0rem;
    --spacing-px: 1px;
    --spacing-0.5: 0.125rem; /* 2px */
    --spacing-1: 0.25rem;    /* 4px */
    --spacing-1.5: 0.375rem; /* 6px */
    --spacing-2: 0.5rem;     /* 8px */
    --spacing-2.5: 0.625rem; /* 10px */
    --spacing-3: 0.75rem;    /* 12px */
    --spacing-3.5: 0.875rem; /* 14px */
    --spacing-4: 1rem;       /* 16px */
    --spacing-5: 1.25rem;    /* 20px */
    --spacing-6: 1.5rem;     /* 24px */
    --spacing-7: 1.75rem;    /* 28px */
    --spacing-8: 2rem;       /* 32px */
    --spacing-9: 2.25rem;    /* 36px */
    --spacing-10: 2.5rem;    /* 40px */
    --spacing-11: 2.75rem;   /* 44px */
    --spacing-12: 3rem;      /* 48px */
    --spacing-14: 3.5rem;    /* 56px */
    --spacing-16: 4rem;      /* 64px */
    --spacing-20: 5rem;      /* 80px */
    --spacing-24: 6rem;      /* 96px */
    --spacing-28: 7rem;      /* 112px */
    --spacing-32: 8rem;      /* 128px */
    --spacing-36: 9rem;      /* 144px */
    --spacing-40: 10rem;     /* 160px */
    --spacing-44: 11rem;     /* 176px */
    --spacing-48: 12rem;     /* 192px */
    --spacing-52: 13rem;     /* 208px */
    --spacing-56: 14rem;     /* 224px */
    --spacing-60: 15rem;     /* 240px */
    --spacing-64: 16rem;     /* 256px */
    --spacing-72: 18rem;     /* 288px */
    --spacing-80: 20rem;     /* 320px */
    --spacing-96: 24rem;     /* 384px */

    --color-bg: var(--bg);
    --color-bg-modal: var(--bg-modal);
    --color-text-primary: var(--text-primary);

    --color-button: var(--wheat);
    --color-button-hover: var(--floral);

    --color-item: var(--old-rose);
    --color-item-hover: var(--light-coral);
    /* --color-primary: var(--primary);
    --color-test: var(--test);
    --color-card: var(--card);
    --color-card-primary: var(--card-primary); */
}